/* Fonts */

@font-face {
	font-family: Universe;
	src: url(../fonts/universe.ttf),
	     url(../fonts/universe.eot);
}

@font-face {
	font-family: Segoe;
	src: url(../fonts/segoe.eot),
	     url(../fonts/segoe.ttf);
}

@font-face {
	font-family: AlteGrotesk;
	src: url(../fonts/altegrotesk.eot),
	     url(../fonts/altegrotesk.ttf);
}

/* End of Fonts */

footer, nav, header, section, aside { 
	display: block;
}

body {
	margin: 0 auto;
	max-width: 1280px;
	font-family: Universe;
}

a {
	text-decoration: none;
}

/* Header */

header {
	width: 1280px;
	height: 617px;
	background: url(../images/bg.jpg) center no-repeat;
}

#bg-color {
	width: 1280px;
	height: 85px;
	background-color: rgba(255, 255, 255, 0.9);
}

#logo {
	width: 130px;
	height: 52px;
	display: block;
	float: left;
	padding-top: 17px;
	padding-left: 160px;
}

a {
	text-decoration: none;
	color: #383535;
	font-family: Segoe, "Trebuchet MS", sans-serif;
}

nav ul {
	padding: 0;
	margin: 0;
	margin-top: 3px;
	display: inline-block;
	margin-right: 45px;
	float: right;
}

nav li {
	list-style-position: inside;
}

#top-menu {
	padding-right: 90px;
}

#top-menu li {
	display: inline-block;
	padding: 10px 20px;
	vertical-align: middle;
	padding-top: 26px;
}

#login-btn {
	background: url(../images/login-btn.png);
	width: 87px;
	height: 27px;
	display: block;
	color: #fff;
	text-align: center;
}

#login-btn img {
	padding-top: 5px;
}

#banner-text {
	text-align: center;
	margin-top: 170px;
	color: #fff;
	line-height: 10px;
	display: block;
}

#banner-text h1 {
	font-size: 69px;
	font-family: AlteGrotesk, sans-serif;
}

#banner-text p {
	font-size: 25px;
	font-family: Universe;
}

/* End of Header */

/* Section */

section {
	background-color: #fff;
}

#content {
	text-align: center;
}

#content h1 {
	color: #404040;
	font-weight: 300;
	font-size: 35px;
}

#content h2 {
	color: #404040;
	font-weight: 300;
	font-size: 17px;
}

#categories {
	text-align: center;
	margin-top: 85px;
	margin-bottom: -55px;
}

#categories figure {
	display: inline-block;
	width: 179px;
	height: 179px;
}

#categories figure a{
		position: relative;
		color: #fff;
		bottom: 12em;
		opacity: 0;
		font-size: 0.75em;
		display: block;
		width: 150px;
		left: 15px;
}

#categories figure:hover a{
        display:block;
		opacity: 1;
}

#line {
	background-color: rgba(233, 233, 233, 1);
	margin-top: 30px;
	margin-bottom: 50px;
	width: 1280px;
	height: 1px;
}

article {
	margin: 0;
	padding: 0;
	padding-left: 180px;
	padding-right: 110px;
	margin-bottom: 80px;
}

article img {
	float: left;
	margin: auto 1.625em 0.5em auto;
}

article a{
	color: #545454;
	font-weight: 300;
	font-size: 27px;
	margin-bottom: 10px;
}

article p {
	color: #8b8b8b;;
	font-size: 15px;
}

/* End of Section */

/* Footer */

footer {
	background: url(../images/footer.jpg) center no-repeat;
	color: #dbdbdb;
	width: 1280px;
	height: 260px;
	margin-top: 50px;
}

footer a {
	color: #000;
}

#footer p {
	float: left;
	margin-left: 25px;
	font-size: 15px;
	color: #696b6a;
}

#sub-menu {
	margin-left: 120px;
	padding-top: 20px;
}

.sub-menu {
	float: left;
	width: 110px;
    margin-left: 60px;
    padding-right: 15px;
}

.sub-menu div {
	display: inline-block;
}

.sub-menu a {
	display: block;
	color: #696b6a;
	font-family: Universe, "Trebuchet MS", sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

.sub-menu a:hover {
	color: #aeaeae;
} 

.sub-menu h1 {
	color: #aeaeae;
	font-size: 21px;
	font-weight: 300;
}

#socials {
	float: left;
	margin-top: 45px;
}

#socials a {
	font-family: Universe, "Trebuchet MS", sans-serif;
	margin-left: 20px;
	margin-top: 55px;
}

/* End of Footer */
