/* Fonts */

@font-face {
	font-family: Universe;
	src: url(../fonts/universe.ttf),
	     url(../fonts/universe.eot);
}

@font-face {
	font-family: Segoe;
	src: url(../fonts/segoe.eot),
	     url(../fonts/segoe.ttf);
}

@font-face {
	font-family: AlteGrotesk;
	src: url(../fonts/altegrotesk.eot),
	     url(../fonts/altegrotesk.ttf);
}

/* End of Fonts */

/* LESS */

@color-gray: #696b6a;
@width-page: 1280px;
@font-Universe: Universe, "Trebuchet MS", sans-serif;
@font-Segoe: Segoe, "Trebuchet MS", sans-serif;
@font-AG: AlteGrotesk, sans-serif;

/* End of LESS */

footer, nav, header, section, aside { 
	display: block;
}

body {
	margin: 0 auto;
	max-width: @width-page;
	font-family: @font-Universe;
}

/* Header */

header {
	width: @width-page;
	height: 617px;
	background: url(../images/bg.jpg) center no-repeat;
}

#bg-color {
	width: @width-page;
	height: 85px;
	background-color: rgba(255, 255, 255, 0.9);
}

#logo {
	width: 130px;
	height: 52px;
	display: block;
	float: left;
	padding-top: 17px;
	padding-left: 160px;
}

a {
	text-decoration: none;
	color: darken(@color-gray, 20%);
	font-family: @font-Segoe;
}

nav {
	ul {
		padding: 0;
		margin: 0;
		margin-top: 3px;
		display: inline-block;
		margin-right: 45px;
		float: right;
	}
	li {
		list-style-position: inside;
	}
}

#top-menu {
	padding-right: 90px;
	li {
		display: inline-block;
		padding: 10px 20px;
		vertical-align: middle;
		padding-top: 26px;
	}
}

#login-btn {
	background: url(../images/login-btn.png);
	width: 87px;
	height: 27px;
	display: block;
	color: #fff;
	text-align: center;
	img {
		padding-top: 5px;
	}
}

#banner-text {
	text-align: center;
	margin-top: 170px;
	color: #fff;
	line-height: 10px;
	display: block;
	h1 {
		font-size: 69px;
		font-family: @font-AG;
	}
	p {
		font-size: 25px;
		font-family: @font-Universe;
	}
}

/* End of Header */

/* Section */

section {
	background-color: #fff;
}

#content {
	text-align: center;
	h1 {
		color: #404040;
		font-weight: 300;
		font-size: 35px;
	}
	h2 {
		color: #404040;
		font-weight: 300;
		font-size: 17px;
	}
}

#categories {
	text-align: center;
	margin-top: 85px;
	margin-bottom: -55px;
	figure {
		display: inline-block;
		width: 179px;
		height: 179px;
		a {
			position: relative;
			color: #fff;
			bottom: 12em;
			opacity: 0;
			font-size: 0.75em;
			display: block;
			width: 150px;
			left: 15px;
		}
		&:hover a {
    		display: block;
			opacity: 1;
		}
	}
}

#line {
	background-color: rgba(233, 233, 233, 1);
	margin-top: 30px;
	margin-bottom: 50px;
	width: @width-page;
	height: 1px;
}

article {
	margin: 0;
	padding: 0;
	padding-left: 180px;
	padding-right: 110px;
	margin-bottom: 80px;
	img {
		float: left;
		margin: auto 1.625em 0.5em auto;
	}
	a{
		color: darken(@color-gray, 20%);
		font-weight: 300;
		font-size: 27px;
		margin-bottom: 10px;
	}
	p {
		color: #8b8b8b;;
		font-size: 15px;
	}
}

/* End of Section */

/* Footer */

footer {
	background: url(../images/footer.jpg) center no-repeat;
	color: #dbdbdb;
	width: @width-page;
	height: 260px;
	margin-top: 50px;
	a {
		color: #000;
	}
}

#footer p {
	float: left;
	margin-left: 25px;
	font-size: 15px;
	color: @color-gray;
}

#sub-menu {
	margin-left: 120px;
	padding-top: 20px;
}

.sub-menu {
	float: left;
	width: 110px;
    margin-left: 60px;
    padding-right: 15px;
	div {
		display: inline-block;
	}
	h1 {
		color: #aeaeae;
		font-size: 21px;
		font-weight: 300;
	}
	a {
		display: block;
		color: @color-gray;
		font-family: @font-Universe;
    	font-size: 15px;
    	margin-bottom: 5px;
		&:hover {
			color: #aeaeae;
		} 
	}
}

#socials {
	float: left;
	margin-top: 45px;
	a {
		font-family: @font-Universe;
		margin-left: 20px;
		margin-top: 55px;
	}
}

/* End of Footer */
